body{
    background-color: rgba(0, 0, 0, 0.253);
}
.banner{
    width: 100%;
    height: 100%;
}
h1{
    text-align: center;
}
#nav_bar{
    position: absolute;
    list-style: none;
}
.nav{
    padding-top: 1%;
}
#footer{
    padding-bottom: 2px;
    text-align: center;
}
a{
    text-decoration: none;
}
#sobre_nos{
    background-color:red;
}
#contato{
    background-color:green;
}
#unidade{
    background-color:blue;
}
.icon_contato{
    width: 30px;
    height: 30px;
}
